@import "tailwindcss";

:root {
  --color-cream: #f9f8f4;
  --color-charcoal: #191e1a;
  --color-stone: #4e534d;
  --color-olive: #4c5844;
  --color-olive-dark: #3c4636;
  --color-terracotta: #c6704d;
  --color-border: #e4e0d6;
  --color-mist: #e9e5e2;
}

@theme inline {
  --color-cream: var(--color-cream);
  --color-charcoal: var(--color-charcoal);
  --color-stone: var(--color-stone);
  --color-olive: var(--color-olive);
  --color-olive-dark: var(--color-olive-dark);
  --color-terracotta: var(--color-terracotta);
  --color-border: var(--color-border);
  --color-mist: var(--color-mist);

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-cream);
  color: var(--color-charcoal);
  font-family: var(--font-sans);
}